

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

/* html {
    height: 100%;
    Image only BG fallback
    background: url('http://thecodeplayer.com/uploads/media/gs.png');
    background = gradient + image pattern combo
    background: 
        linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
        url('http://thecodeplayer.com/uploads/media/gs.png');
}
 */
h1{
    text-align: center;
}

h4 {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
    color: black;
}

body {
    font-family: montserrat, arial, verdana;
    background: whitesmoke;
}

input[type=text] 
{height: 60px;}

/* search results box */
div#searchResults {
  width: 30vw;
  margin: auto;
}

.btn {
    margin: 2px auto;
}


/*form styles*/
#msform {
    width: 80vw;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 50px;
    
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea , #msform select{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 60%;
    display:initial;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

/* style all input elements with a required attribute */
input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}

/* *
 * style input elements that have a required
 * attribute and a focus state
input:required:focus {
  border: 1px solid red;
  outline: none;
}
 */
/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}


label.error {
    color:red; /* red */
}

.error {
    border-color: #cd0a0a !important;
    background: #fef1ec !important;
}



/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .save.action-button {
    width: 100px;
    background: #026BAD;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .search.action-button {
    width: 100px;
    background: #026BAD;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/* Labels  */
.titles {
    font-weight: bolder;
    color: #538753;
}
.example{
    font-size: small;
    color: #808080;
}

.left{
    font-size: small;
    color: #808080;
    text-align: left;
    width:60%;
    margin:auto;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #0099cc;
    text-transform: uppercase;
    font-size: 12px;
    width: 12.5%;
    float: left;
    position: relative;
}

#progressbar a {
    color: #0099cc;
    font-weight: bolder;
}

#progressbar a:hover {
    color: #23527c;
    text-decoration: underline;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: darkorange;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
    background: #669900;
    color: white;
}


